name: GitHub Actions Demo
on:
  push:
    branches: main
    paths-ignore: [.github/**]
  pull_request:
    branches: main
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: print
        run: |
          echo "The job was triggered by event: ${{ github.event_name }}"

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: list all files in the repository
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
